*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar{
    height: 10vh;
}


.carousel-inner{
    height:  70vh;
}


footer{
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
}


.carousel-item img{
    object-fit: cover;
    width: 100%;
    height: auto;
}
